.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    color: white;
    text-align: center;
    margin-top: 90px;
}

.heading_div
{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
    width: 100%;
}

.heading_div2
{
    font-size: 18px;
}

.copy_right_footer
{
    position: fixed;
    color:ivory;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px solid darkblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}

#hyperspace_div
{
    background-image: url("hyperspace.gif");
    width: 25%;
    height: 250px;
}